* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

#email {
  box-sizing: border-box;
  font-size: 18px;
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(250, 227, 180);
}

p {
  margin: 5px;
}

#confidential,
#top-secret {
  font-size: 30px;
  display: inline-block;
}

#confidential {
  margin-left: 10px;
  border-color: red;
  color: red;
  font-weight: bold;
  padding: 5px;
  border: 5px solid red;
  transform: translate(160px) rotate(-12deg) scale(1.2);
}

#top-secret {
  margin-left: 10px;
  padding: 10px;
  color: red;
  font-weight: bold;
  transform: translate(150px) rotate(12deg);
  border: 5px solid red;
}

.blurred {
  filter: blur(3px);
}
